{% extends 'base.html' %}

{% block conteudo %}
    <section class="section-top">
        <div class="container">
            <div class="card shadow-lg">
                <div class="card-header ml-3 mt-3 mr-3">
                    <div class="row ">
                        <div class="col-lg-12">
                            <h3 class="title-color">{{ mensagem.assunto }}</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12" style="font-size: 16px">
                            <p class="float-left">
                                Enviado por: {{ mensagem.nome }}
                                <br>
                                E-mail: {{ mensagem.email }}
                                {% if mensagem.telefone %}
                                    | Telefone: {{ mensagem.telefone }}
                                {% else %}
                                    | Telefone: Não informado
                                {% endif %}    
                            </p>
                            <p class="float-right">
                                Enviada em: {{ mensagem.data }}
                            </p>
                        </div>
                    </div>
                <div class="divider mx-auto my-4"></div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <p>{{ mensagem.mensagem | linebreaks }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock conteudo %}